<div class="container">
  <h1 class="text-center">
    NGRX TEST
  </h1>
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link"
         routerLinkActive="active"
         routerLink="authentication">
        Auth
      </a>
    </li>
    <li class="nav-item"
        routerLinkActive="active"
        routerLink="root">
      <a class="nav-link">
        Root
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Disabled</a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
